@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-container{
    background-image: url('https://ik.imagekit.io/c3q3h7pex/Weather-App/screencapture-localhost-5173-2024-08-09-18_26_35.png?updatedAt=1723208306805');
    background-size: cover;
    height: 100vh;
}